<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>

<h1>Books</h1>

    <table>

      <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td>
            <%= book.title %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>


